$white: #fff;
$hero-gradient: linear-gradient(#18ad87 0%, rgba(27, 174, 134, 0.89) 89.02%, rgba(73, 181, 155, 0.92) 100%);

// colors 
$o-bgColor--ffffff : #ffffff;
$o-bgColor--ffd6ad : #ffd6ad;
$o-bgColor--eef9f7 : #eef9f7;
$o-fColor--454242 : #454242;
$o-fColor--555252 : #555252;
$o-fColor--1d1c1c : #1d1c1c;
$o-fColor--e6e6e6 : #e6e6e6;
$o-fColor--ebebeb : #ebebeb;
$o-fColor--ffffff : #ffffff;
$o-fColor--3b3b3b : #3b3b3b;
$o-fColor--F49A40 : #F49A40;
$o-fColor--18AD87 : #18AD87;

// font sizes
$o-fSize--8 : rem(8px);
$o-fSize--12 : rem(12px);
$o-fSize--14 : rem(14px);
$o-fSize--15 : rem(15px);
$o-fSize--16 : rem(16px);
$o-fSize--18 : rem(18px);
$o-fSize--20 : rem(20px);
$o-fSize--24 : rem(24px);
$o-fSize--28 : rem(28px);
$o-fSize--30 : rem(30px);
$o-fSize--40 : rem(40px);
$o-fFamily : "Montserrat","Maven Pro","Arial"


